<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <title>Document</title>
  <style>
    /*---滚动条默认显示样式--*/
    ::-webkit-scrollbar-thumb {
      background-color: #E4E3E4;
      height: 50px;
      outline-offset: -2px;
      outline: 2px solid #fff;
      -webkit-border-radius: 8px;
      /*border: 2px solid #fff;*/
    }

    /*---鼠标点击滚动条显示样式--*/
    ::-webkit-scrollbar-thumb:hover {
      background-color: #409EFF;
      height: 50px;
      -webkit-border-radius: 8px;
    }

    /*---滚动条大小--*/
    ::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    /*---滚动框背景样式--*/
    ::-webkit-scrollbar-track-piece {
      background-color: #fff;
      -webkit-border-radius: 0;
    }

    body {
      background-color: #F1F5F8;
    }

    .el-select {
      width: 100% !important;
    }

    #re {
      border: 1px solid #e2e2e2;
      padding: 10px;
      margin-top: 10px;
    }

    .el-card {
      margin-bottom: 15px;
    }

    .el-aside {
      padding: 20px 0 0 20px;
    }

    #biaoti {
      font-size: 16pt;
      text-align: center;
      font-weight: bold;
      font-family: serif;
      color: #606266;
    }

    .el-main {
      padding: 20px 20px 0px 15px !important;
    }

    .el-button-group .el-button--warning:first-child {
      border-right-color: #f5dab1;
    }

    .el-button-group {
      margin-bottom: 10px;
    }

    .cell {
      text-align: center;
    }

    .el-select {
      width: 150px !important;
    }

    .el-input__prefix, .el-input__suffix {
      line-height: 38px;
      font-size: 16pt;
    }

    i {
      font-style: inherit;
    }

    .el-table_1_column_2 {
      width: 20% !important;
    }

    .demo-table-expand {
      font-size: 0;
    }

    .demo-table-expand label {
      width: 100px;
      color: #99a9bf;
    }

    .demo-table-expand .el-form-item {
      margin-right: 0;
      margin-bottom: 0;
      width: 50%;
    }

    tr td:last-child {
      background-color: #fff;
    }

    .el-aside .el-card__body {
      height: calc(100% - 40px);
    }

    #content .is-always-shadow {
      margin-bottom: 0 !important;
      height: calc(100% - 10px) !important;
    }
  </style>

</head>
<body>
<div id="app">
  <el-container>
    <el-header>
      <el-card shadow="always" id="biaoti">
        生成json[加强美化版]3.1
      </el-card>
    </el-header>
    <el-container id="content">
      <el-aside style="width:180px;">
        <transition name="el-zoom-in-top">
          <el-card shadow="always">
            <div style="height: 100%;">
              <el-steps direction="vertical" :active="3">
                <el-step title="步骤 1" description="填写循环次数"></el-step>
                <el-step title="步骤 2" description="添加对象"></el-step>
                <el-step title="步骤 3" description="点击生成"></el-step>
              </el-steps>
            </div>
          </el-card>
        </transition>
      </el-aside>
      <el-main>
        <el-card shadow="hover">
          <template>
            <div>循环次数：{{xunhuan}}次</div>
            <div class="silder-width">
              <el-slider
                max=200000
                v-model="xunhuan"
                show-input>
              </el-slider>
            </div>
          </template>
          <template>
            <div>值类型为array[多个]数组长度：{{stringArr}}</div>
            <div class="silder-width stringArr">
              <el-slider
                max=200000
                v-model="stringArr"
                show-input>
              </el-slider>
            </div>
          </template>
        </el-card>
        <el-card class="box-card" shadow="hover">
          <el-button-group>
            <el-button id="addd" size="medium" type="primary" plain @click="isTrue('add')">添加属性</el-button>
            <el-button size="medium" type="danger" plain @click="clearAll()">清除全部</el-button>
            <el-popover
              placement="right-end"
              width="450"
              trigger="click">
              <div>
                <div slot="header" class="clearfix">
                  <span style="font-size: 16px">预览效果只循环2次,array[多个]长度为3</span>
                </div>
                <el-input
                  id="copyObj"
                  type="textarea"
                  :autosize="{ minRows: 2,maxRows: 15}"
                  style="font-size: 20px;font-family: -webkit-body;"
                  readonly
                  v-model="result">
                </el-input>
              </div>
              <el-button size="medium" type="warning" plain slot="reference" @click="YuLan()">预览效果</el-button>
            </el-popover>
          </el-button-group>
          <el-table
            stripe
            border
            :data="info"
            style="width: 100%">
            <el-table-column
              label="ID"
              type="index"
              fixed
              width="50">
            </el-table-column>
            <el-table-column type="expand">
              <template slot-scope="props">
                <el-form label-position="left" inline class="demo-table-expand">
                  <el-form-item label="对象属性名：">
                    <span>{{ props.row.valueName }}</span>
                  </el-form-item>
                  <el-form-item label="对象值类型：">
                    <span>{{ props.row.type }}</span>
                  </el-form-item>
                  <el-form-item label="对象属性值：">
                    <span>{{ props.row.value }}</span>
                  </el-form-item>
                  <el-form-item label="变量：">
                    <span>{{ props.row.checked }}</span>
                  </el-form-item>
                </el-form>
              </template>
            </el-table-column>
            <el-table-column label="对象">
              <el-table-column
                label="对象属性名"
                min-width="160"
                :resizable="true">
                <template slot-scope="scope">
                  <el-input maxlength=20 type="text" v-model="scope.row.valueName">
                    <i slot="suffix">:&nbsp;</i>
                  </el-input>
                </template>
              </el-table-column>
              <el-table-column
                min-width="480"
                label="值类型 / 对象属性值 / 变量方式"
                :resizable="true">
                <template slot-scope="scope">
                  <el-input maxlength=20 type="text" v-model="scope.row.value" class="input-with-select">
                    <el-select v-model="scope.row.type" slot="prepend" @change="selectChange1" placeholder="请选择">
                      <el-option
                        v-for="item in option1"
                        :key="item.value"
                        :label="item.value"
                        :value="item.value">
                      </el-option>
                    </el-select>
                    <el-select v-model="scope.row.checked" slot="append"
                               @change="selectChange2(scope.row.checked,scope.$index)" placeholder="请选择">
                      <el-option
                        v-for="item in option2"
                        :key="item.value"
                        :label="item.value"
                        :value="item.value">
                      </el-option>
                    </el-select>
                  </el-input>
                </template>
              </el-table-column>
            </el-table-column>
            <el-table-column
              width="100"
              label="操作"
              fixed="right">
              <template slot-scope="scope">
                <el-button v-show="info.length>1" size="medium" plain type="danger" @click="del(scope.$index)">删除
                </el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-card>
        <el-card shadow="hover" style="margin-bottom:8px">
          <el-button style="width: 100%" type="success" plain @click="isTrue('result')"
                     v-loading.fullscreen.lock="fullscreenLoading">生成
          </el-button>
        </el-card>
      </el-main>
    </el-container>
  </el-container>

  <el-dialog
    title="生成结果"
    :visible.sync="dialogVisible"
  >
    <div>
      <el-input
        id="copyObj"
        type="textarea"
        :autosize="{ minRows: 2,maxRows: 15}"
        style="font-size: 20px;font-family: -webkit-body;"
        v-model="result">
      </el-input>
    </div>
    <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">关 闭</el-button>
        <el-button type="success" @click="CopyUrl()">复 制</el-button>
        </span>
  </el-dialog>

</div>
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<!--<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>-->
<!--<script src="http://www.jq22.com/jquery/vue.min.js"></script>-->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
  new Vue({
    el: '#app',
    data() {
      return {
        info: [
          {valueName: '', value: '', type: 'string', checked: '不加变量'},
        ],
        xunhuan: 1,
        stringArr: 1,
        result: [],
        option1: [{
          value: 'number',
        }, {
          value: 'string',
        }, {
          value: 'array[单个]',
        }, {
          value: 'array[多个]',
        }],
        option2: [{
          value: '不加变量',
        }, {
          value: '后面加',
        }, {
          value: '累加(值为数字)',
        }],
        value: '',
        dialogVisible: false,
        fullscreenLoading: false,
      }
    },
    methods: {
      resultFun() {
        let _self = this;
        let num = 0;
        let str = '';
        for (let n = 0; n < _self.xunhuan; n++) {
          for (let i = 0; i < _self.info.length; i++) {
            let data = _self.info;
            let key = data[i].valueName;
            let val = data[i].value;
            if (data[i].checked == '不加变量') {
              if (data[i].type == 'number') {
                str += (i == 0 ? '  {\n    "' : '    "') + key + '":' + val + (i == _self.info.length - 1 ? '' : ',\n')
              } else if (data[i].type == 'string') {
                str += (i == 0 ? '  {\n    "' : '    "') + key + '":"' + val + (i == _self.info.length - 1 ? '"' : '",\n')
              } else if (data[i].type == 'array[单个]') {
                str += (i == 0 ? '  {\n    "' : '    "') + key + '":[' + val + (i == _self.info.length - 1 ? ']' : '],\n')
              } else if (data[i].type == 'array[多个]') {
                let strArr = '';
                for (let m = 0; m < _self.stringArr; m++) {
                  strArr += val + (m == _self.stringArr - 1 ? '' : ',')
                }
                str += (i == 0 ? '  {\n    "' : '    "') + key + '":[' + strArr + (i == _self.info.length - 1 ? ']' : '],\n')
              }
            } else if (data[i].checked == '后面加') {
              if (data[i].type == 'number') {
                str += (i == 0 ? '  {\n    "' : '    "') + key + '":' + val + num + (i == _self.info.length - 1 ? '' : ',\n')
              } else if (data[i].type == 'string') {
                str += (i == 0 ? '  {\n    "' : '    "') + key + '":"' + val + num + (i == _self.info.length - 1 ? '"' : '",\n')
              } else if (data[i].type == 'array[单个]') {
                str += (i == 0 ? '  {\n    "' : '    "') + key + '":[' + val + num + (i == _self.info.length - 1 ? ']' : '],\n')
              } else if (data[i].type == 'array[多个]') {
                let strArr = '';
                for (let m = 0; m < _self.stringArr; m++) {
                  strArr += '"' + val + m.toString() + (m == _self.stringArr - 1 ? '"' : '",')
                }
                str += (i == 0 ? '  {\n    "' : '    "') + key + '":[' + strArr + (i == _self.info.length - 1 ? ']' : '],\n')
              }
            } else {
              if (data[i].type == 'number') {
                val = parseInt(val) + num;
                str += (i == 0 ? '  {\n    "' : '    "') + key + '":' + val + (i == _self.info.length - 1 ? '' : ',\n')
              } else if (data[i].type == 'string') {
                val = parseInt(val) + num;
                str += (i == 0 ? '  {\n    "' : '    "') + key + '":"' + val + (i == _self.info.length - 1 ? '"' : '",\n')
              } else if (data[i].type == 'array[单个]') {
                val = parseInt(val) + num;
                str += (i == 0 ? '  {\n    "' : '    "') + key + '":[' + val + (i == _self.info.length - 1 ? ']' : '],\n')
              } else if (data[i].type == 'array[多个]') {
                let strArr = '';
                val = parseInt(val);
                for (let m = 0; m < _self.stringArr; m++) {
                  strArr += '"' + (val + m) + (m == _self.stringArr - 1 ? '"' : '",')
                }
                str += (i == 0 ? '  {\n    "' : '    "') + key + '":[' + strArr + (i == _self.info.length - 1 ? ']' : '],\n')
              }
            }
          }
          str = str + (n == _self.xunhuan - 1 ? '\r\n  }\n' : '\r\n  },\r\n');
          num++;
        }
        str = "[\r\n" + str + "]";
        _self.result = str;
        _self.fullscreenLoading = false;
        _self.dialogVisible = true
      },
      YuLan() {
        let _self = this;
        let num = 0;
        let str = '';
        let yulanNum = 3;
        for (let n = 0; n < 2; n++) {
          for (let i = 0; i < _self.info.length; i++) {
            let data = _self.info;
            let key = data[i].valueName;
            let val = data[i].value;
            if (data[i].checked == '不加变量') {
              if (data[i].type == 'number') {
                str += (i == 0 ? '  {\n    "' : '    "') + key + '":' + val + (i == _self.info.length - 1 ? '' : ',\n')
              } else if (data[i].type == 'string') {
                str += (i == 0 ? '  {\n    "' : '    "') + key + '":"' + val + (i == _self.info.length - 1 ? '"' : '",\n')
              } else if (data[i].type == 'array[单个]') {
                str += (i == 0 ? '  {\n    "' : '    "') + key + '":[' + val + (i == _self.info.length - 1 ? ']' : '],\n')
              } else if (data[i].type == 'array[多个]') {
                let strArr = '';
                for (let m = 0; m < yulanNum; m++) {
                  strArr += val + (m == yulanNum - 1 ? '' : ',')
                }
                str += (i == 0 ? '  {\n    "' : '    "') + key + '":[' + strArr + (i == _self.info.length - 1 ? ']' : '],\n')
              }
            } else if (data[i].checked == '后面加') {
              if (data[i].type == 'number') {
                str += (i == 0 ? '  {\n    "' : '    "') + key + '":' + val + num + (i == _self.info.length - 1 ? '' : ',\n')
              } else if (data[i].type == 'string') {
                str += (i == 0 ? '  {\n    "' : '    "') + key + '":"' + val + num + (i == _self.info.length - 1 ? '"' : '",\n')
              } else if (data[i].type == 'array[单个]') {
                str += (i == 0 ? '  {\n    "' : '    "') + key + '":[' + val + num + (i == _self.info.length - 1 ? ']' : '],\n')
              } else if (data[i].type == 'array[多个]') {
                let strArr = '';
                for (let m = 0; m < yulanNum; m++) {
                  strArr += '"' + val + m.toString() + (m == yulanNum - 1 ? '"' : '",')
                }
                str += (i == 0 ? '  {\n    "' : '    "') + key + '":[' + strArr + (i == _self.info.length - 1 ? ']' : '],\n')
              }
            } else {
              if (data[i].type == 'number') {
                val = parseInt(val) + num;
                str += (i == 0 ? '  {\n    "' : '    "') + key + '":' + val + (i == _self.info.length - 1 ? '' : ',\n')
              } else if (data[i].type == 'string') {
                val = parseInt(val) + num;
                str += (i == 0 ? '  {\n    "' : '    "') + key + '":"' + val + (i == _self.info.length - 1 ? '"' : '",\n')
              } else if (data[i].type == 'array[单个]') {
                val = parseInt(val) + num;
                str += (i == 0 ? '  {\n    "' : '    "') + key + '":[' + val + (i == _self.info.length - 1 ? ']' : '],\n')
              } else if (data[i].type == 'array[多个]') {
                let strArr = '';
                val = parseInt(val);
                for (let m = 0; m < yulanNum; m++) {
                  strArr += '"' + (val + m) + (m == yulanNum - 1 ? '"' : '",')
                }
                str += (i == 0 ? '  {\n    "' : '    "') + key + '":[' + strArr + (i == _self.info.length - 1 ? ']' : '],\n')
              }
            }
          }
          str = str + (n == 2 - 1 ? '\r\n  }\n' : '\r\n  },\r\n');
          num++;
        }
        str = "[\r\n" + str + "]";
        _self.result = str;
      },
      isTrue(value) {
        let _self = this;
        for (let i = 0; i < _self.info.length; i++) {
          if (_self.info[i].valueName == '' || _self.info[i].value == '') {
            if (value == 'add') {
              this.$message({
                message: '填写完整再添加',
                type: 'warning'
              });
              return
            } else {
              this.$message({
                message: '填写完整再生成',
                type: 'warning'
              });
              return
            }
          }
        }
        if (value == 'add') {
          _self.info.push(
            {valueName: '', value: '', type: 'string', checked: '不加变量'},
          )
        } else {
          _self.fullscreenLoading = true;
          window.localStorage.setItem('info', JSON.stringify(_self.info))
          setTimeout(function () {
            _self.resultFun();
          }, 500)
        }
      },
      del(index) {
        let _self = this;
        if (_self.info.length == 1) {
          this.$message({
            message: '不能再删了',
            type: 'warning'
          });
          return
        }
        _self.info.splice(index, 1);
      },
      CopyUrl() {
        let url = document.querySelector('#copyObj');
        url.select();
        document.execCommand("Copy");
        url.blur()
      },
      clearAll() {
        let _self = this;
        _self.info = [
          {valueName: '', value: '', type: 'string', checked: '不加变量'},
        ],
          window.localStorage.clear();
      },
      selectChange1(value) {
        let _self = this;
        if (value == 'array[多个]') {
          this.$message('array[多个]的数组长度为' + _self.stringArr);
        }
      },
      selectChange2(value, index) {
        let _self = this;
        if (_self.info[index].type == 'array[多个]') {
          if (value != '不加变量') {
            this.$message('array[多个]：出现的变量是在自身数组中');
          }
        }
      },
    },
    mounted() {
      let _self = this;
      if (window.localStorage.getItem('info')) {
        _self.info = JSON.parse(window.localStorage.getItem('info'));
      }
    }
  })
</script>
</body>
</html>
