<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <title>Document</title>
  <link rel="stylesheet" href="element-ui.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
  <el-container>
    <el-header>
      <el-card shadow="always" id="biaoti">生成json[加强美化版]3.3</el-card>
    </el-header>
    <el-container id="content">
      <el-aside style="width:180px;">
        <transition name="el-zoom-in-top">
          <el-card shadow="always" class="pro">
            <div style="height: 100%;">
              <el-steps direction="vertical" :active="3">
                <el-step title="步骤 1" description="填写循环次数"></el-step>
                <el-step title="步骤 2" description="添加对象"></el-step>
                <el-step title="步骤 3" description="点击生成"></el-step>
              </el-steps>
            </div>
          </el-card>
        </transition>
      </el-aside>
      <el-main>
        <el-card shadow="hover">
          <template>
            <div>循环次数：{{xunhuan}}次</div>
            <div class="silder-width">
              <el-slider :max=200000 :min=1 :disabled="loading" v-model="xunhuan" show-input></el-slider>
            </div>
          </template>
          <template>
            <div>值类型为array[多个]数组长度：{{stringArr}}</div>
            <div class="silder-width">
              <el-slider :max=200000 :min=1 v-model="stringArr" :disabled="loading" show-input>
              </el-slider>
            </div>
          </template>
        </el-card>
        <el-card class="box-card" shadow="hover">
          <el-button-group>
            <el-button id="addd" size="medium" type="primary" plain :disabled="loading" @click="isTrue('add')">添加属性</el-button>
            <el-button size="medium" type="danger" :disabled="loading" plain @click="clearAll()">清除全部</el-button>
            <el-popover placement="right-end" width="450" trigger="click">
              <div>
                <p style="font-size: 16px;margin:0;">预览效果只循环2次,array[多个]长度为3</p>
                <el-input type="textarea" :autosize="{ minRows: 2,maxRows: 15}" style="font-size: 20px;font-family: -webkit-body;" v-model="result">
                </el-input>
              </div>
              <el-button size="medium" type="warning" plain slot="reference" :disabled="loading" @click="YuLan()">预览效果</el-button>
            </el-popover>
          </el-button-group>
          <el-table v-loading="loading" element-loading-text="生成中" element-loading-background="rgba(241, 245, 248, 0.8)" stripe border :data="info" style="width: 100%">
            <el-table-column label="ID" type="index" fixed width="50">
            </el-table-column>
            <el-table-column type="expand">
              <template slot-scope="props">
                <el-form label-position="left" inline class="demo-table-expand">
                  <el-form-item label="对象属性名：">
                    <span>{{ props.row.valueName }}</span>
                  </el-form-item>
                  <el-form-item label="对象值类型：">
                    <span>{{ props.row.type }}</span>
                  </el-form-item>
                  <el-form-item label="对象属性值：">
                    <span>{{ props.row.value }}</span>
                  </el-form-item>
                  <el-form-item label="变量：">
                    <span>{{ props.row.checked }}</span>
                  </el-form-item>
                </el-form>
              </template>
            </el-table-column>
            <el-table-column label="对象">
              <el-table-column label="对象属性名"min-width="160":resizable="true">
                <template slot-scope="scope">
                  <el-input :maxlength=20 type="text" v-model="scope.row.valueName">
                    <i slot="suffix">:&nbsp;</i>
                  </el-input>
                </template>
              </el-table-column>
              <el-table-column
                min-width="480"
                label="值类型 / 对象属性值 / 变量方式"
                :resizable="true">
                <template slot-scope="scope">
                  <el-input :maxlength=20 type="text" v-model="scope.row.value" class="input-with-select">
                    <el-select v-model="scope.row.type" slot="prepend" @change="selectChange1" placeholder="请选择">
                      <el-option v-for="item in option1" :key="item.value" :label="item.value" :value="item.value">
                      </el-option>
                    </el-select>
                    <el-select v-model="scope.row.checked" slot="append" @change="selectChange2(scope.row.checked,scope.$index)" placeholder="请选择">
                      <el-option v-for="item in option2" :key="item.value" :label="item.value" :value="item.value">
                      </el-option>
                    </el-select>
                  </el-input>
                </template>
              </el-table-column>
            </el-table-column>
            <el-table-column width="100" label="操作" fixed="right">
              <template slot-scope="scope">
                <el-button v-show="info.length>1" size="medium" plain type="danger" :disabled="loading" @click="del(scope.$index)">删除
                </el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-card>
        <el-card shadow="hover" style="margin-bottom:8px">
          <el-button id="btn" style="width: 100%" type="success" plain @click="isTrue('result')" :disabled="loading">生成</el-button>
        </el-card>
      </el-main>
    </el-container>
  </el-container>

  <el-dialog
    title="生成结果"
    :visible.sync="dialogVisible">
    <div>
      <el-tabs tab-position="left" @tab-click="handleClick" v-model="activeName">
        <el-tab-pane label="字符串形式" name="0">
          <el-button style="position: absolute;right: 0;" size="mini" type="success" @click="CopyUrl()">复 制</el-button>
          <el-input resize="none" id="copyObj" type="textarea" :autosize="{ minRows: 2,maxRows: 15}" style="font-size: 20px;font-family: -webkit-body;" v-model="result">
          </el-input>
        </el-tab-pane>
        <el-tab-pane label="树形式" name="1">
          <div class="div-tree">
            <span>最多显示循环1000次的结果,渲染过多会导致画面掉帧</span>
            <el-input size="mini" placeholder="输入关键字进行过滤" v-model="filterText">
            </el-input>
            <el-tree :data="resultJson" ref="tree" :filter-node-method="filterNode">
            </el-tree>
            <!--show-checkbox-->
            <!--node-key="id"-->
            <!--highlight-current-->
          </div>
        </el-tab-pane>
      </el-tabs>
    </div>
  </el-dialog>
</div>
<script src="vue.js" type="text/javascript"></script>
<script src="element-ui.js" type="text/javascript"></script>
<script src="app.js" type="text/javascript"></script>
</body>
</html>
